.search-category-dropdown{
    // width: 62px;
    .search-select__menu{
        min-width: 200px;
        background: #F9FAFA;
        border: 1px solid #DBDEDF;
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 10px 0;
        margin-top: 0px;
        .search-select__option--is-selected{
            background-color: transparent;
            font-weight: bold;
            color: #425160;
        }
        .search-select__option{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #5C656C;
            padding: 0;
            margin: 5px 0px;
            padding: 0 10px;
            transition: .4s;
            cursor: pointer;
            &:hover{
                background: #DBDEDF;
            }
        }
    }
    .search-select__control{
        flex-wrap: nowrap;
        min-height: 42px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
        border-color: #DBDEDF !important;
        outline: unset !important;
        box-shadow: unset !important;
    }
    .search-select__single-value{
        position: static;
        transform: unset;
        max-width: 100%;
        & + div{
            padding: 0;
            margin: 0;
            & input{
                height: 1px !important;
                padding: 0 !important;
                margin: 0;
            }
        }
    }
    .search-select__value-container{
        padding-right: 0;
        flex-wrap: nowrap;
    }
    .search-select__indicator-separator{
        display: none;
    }
}
.search-text-wrapper{
    width: 100%;
    position: relative;
    .MuiOutlinedInput-root{
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    & form{
        width: 100%;
    }
    .MuiInputBase-input{
        width: 100% !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-color: #DBDEDF !important;
        & + fieldset{
            border-color: #DBDEDF !important;
        }
    }
}

.product-list-wrapper{
    background: #F9FAFA;
    border: 1px solid #DBDEDF;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    max-height: 610px;
    overflow-y: auto;
    min-height: 55px;

    @media (max-height: 683px){
        max-height: calc(100vh - 80px);
    }
    
    .internal-product-div{
        font-size: 14px;
        line-height: 19px;
        color: #5C656C;
        padding: 5px 10px !important;
    }
    .search-cursor{
        cursor: pointer;
        margin: 0 !important;
        padding: 10px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
            background: #dbdedf85;
        }
    }
    .searched-text-bold{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #9FAEC1;
    }
    .normal-search-text{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #425160;
    }
    .search-loader{
        .MuiCircularProgress-colorPrimary{
            color: #6e7c98;
        }
    }
}


.black-drop-search {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 80px;
    background: #000000a6;
}
