.uploadFileName {
    text-align: left;
    .fileItem {
        display: inline-flex;
        align-items: center;
        img {
            margin-right: 10px;
        }   
    }
}
.upload__section__button-container {
    background-color: #fff;
    border: 0.5px solid #CCCED0;
    padding: 8px 10px;
    border-radius: 5px;
    width: 100%;
  }
  .accounttype {
    color: #637895;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0 30px 0;
  }
  .account__type__button {
      margin: 10px 0 0 !important;
      height: 44px !important;
      &.active {
          background-color: rgba(159, 174, 194, 1) !important;
          color: #fff !important;
      }
  }
.account {
    max-width: 1100px;
    margin: 0 auto;
}
  .changePasswordErp {
      width: 100%;
      .title {
        color: rgb(66, 81, 96);
        font-size: 1.125rem;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
      }
      .passwordTile { 
          // background: #f9fafa !important;
      .emw-password-from {
          // background: #f9fafa !important;
      }
          & > div {
            padding-top: 0;
          }
      }
      .w-100 {
          width: 100%;
      }
  }
  .uploadTextPera {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #4D4D4D;
    text-align: left;
    & > p:not(:last-child) {
        margin-bottom: 15px;
    }
  }
  .addreshtileRowWrp {
      & > div {
          height: 100%;
      }
  }
  .address-book-header{
    font-size: 29px;
    margin: 15px 0 20px 0;
    font-weight: 700;
  }
  .address-book-sub-head{
    font-size: 15px;
    margin: 30px 0 30px 0;
  }
  .account-update-button{
    margin-top: 10px;
    max-width: 182px;
    width: 100%;
    background: #425160;
    border: 1px solid #CCCED0;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }
  .account-update-button:hover{
    background: #9FAEC1 !important;
    color: #425160 !important;
  }
  .cancel{
    max-width: 312px !important;
    width: 100%;
    background: #ffffff;
    color: #425160;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .cancel:hover{
    background: #9FAEC1 !important;
    color: #425160 !important;
  }