.slider-container{
    margin: auto;
    position: relative;
    width: 200px !important;
    display: block !important;
    @media(max-width: 600px){
        width: 100px !important;
    }
    
}


.slider-external-link {
    position: absolute;
    top: 3px;
    right: 3px;
    display: none;
    svg{
        width: 15px;
        height: 15px;
    }
    &:hover{
        svg *{
            fill: rgba(243, 167, 56, 1);
        }
    }
}

.slider-external-link:hover + div {
    border-color: rgba(243, 167, 56, 1) !important;

}


.slider-item{
    padding: 0 10px;
    width: 200px !important;
    height: 200px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid transparent;
    @media(max-width: 600px){
        width: 100px !important;
        height: 100px;
    }
    svg{
        @media(max-width: 600px){
            max-width: 100%;
        }
        max-width: 180px;
        width: 100%;
    }
    
}

.custom-text{
    &:hover{
        .slider-external-link{
            display: block;
        }
    }
    &:not(:hover) path {
        fill: rgb(159, 174, 193);
    }
}

.slick-arrow{
    width: 48px;
    height: auto;
    @media(max-width: 1299px){
        width: 28px;
    }
    @media(max-width: 600px){
        display: none !important;
    }
    
}
  
  .emw-slick-slider li.slick-active button:before{
    color: #9FAEC1;
  }
  .emw-slick-slider li button:before{
    font-size: 12px;
    color: #A7ADB2;
}
.emw-slick-slider{
    & div:focus{
    outline: none !important;
    }
    @media(min-width: 1300px){
        .slick-next {
            right: -50px;
        }
        .slick-prev {
            left: -50px;
        }
    }
}
 